#layout {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-start;
}

#layout-sidebar {
    border-right: 1px solid var(--border);
    transition: width 0.2s, padding 0.2s;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    padding: 50px 20px;          /* Adjust this to move the [+] away from the very edge */
    min-height: 100%;      /* Makes the vertical line go all the way down */
}

#layout-sidebar.collapsed {
    padding: 50px 10px; 
    cursor: pointer;
}

#layout-sidebar.collapsed #sidebar-body {
    display: none;
}

#layout-sidebar.collapsed #nav-toggle {
    font-size: 0;
}

#layout-content {
    flex: 1;
    min-width: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#nav-toggle {
    cursor: pointer;
    user-select: none;
}

#nav-toggle::after {
    content: '[-]';
    font-size: 16px;
    opacity: 0.9;
}

#layout-sidebar.collapsed #nav-toggle::after {
    content: '[+]';
    font-size: 16px;
}

#sidebar-body details summary {
    list-style: none;
}
#sidebar-body details summary::-webkit-details-marker {
    display: none;
}
#sidebar-body details summary::before {
    content: '[+] ';
}
#sidebar-body details[open] summary::before {
    content: '[-] ';
}