#layout {
    width: 100%;
    border-collapse: collapse;
}

#layout-sidebar {
    width: 160px;
    border-right: 1px solid #131313;
    padding: 8px;
    vertical-align: top;
}

#layout-content {
    padding: 8px;
    vertical-align: top;
}
